@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 15px;
    margin-top: 40px;
    & .content{
        padding: 0 20px;
        flex-grow: 1;
    }
}

.nav {
    width: 200px;
    color: $main-color;
    flex-shrink: 0;

    & li {
        height: 60px;
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid lightgrey;
            border-left: none;
            border-bottom: none;
            position: relative;
            &.active {
                font-weight: bold;
                color: $sec-color;
                border-right-color: transparent;
                &::before{
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $main-bg-color;
                    position: absolute;
                    left: 0;
                    top: -1px;
                }
            }
            &:hover{
                color: $sec-color;
            }
        }
        &:last-child a{
            border-bottom: 1px solid lightgrey;
        }
    }
    & .btn-block{
        width: 100%;
        padding: 20px 0;
        text-align: center;
       & .btn{
           @include btn($main-bg-color, $default-bg-color, 20px, $line-in-em)
       }
    }
}

