<div class="popup-content">
    <div class="popup-container">
        <div class="popup-align text">
            <div class="popup-title title h3">МИ ЗАТЕЛЕФОНУЄМО</div>
            <div class="popup-description">Залиште номер телефону і наші менеджери зв’яжуться з вами</div>
            <form class="form popup-form" id="login-form">
                <input type="email" class="input" name="login" placeholder="Ваше ім'я">
                <input type="password" class="input" name="password" placeholder="Ваш номер телефону">
                <button class="btn btn-primary btn-block" type="button">Надіслати</button>
            </form>
        </div>
        <button class="btn-close"><span class="cancel" mat-dialog-close></span></button>
    </div>
</div>
