@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.popup-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    text-align: center;
    transition: opacity 0.3s ease-out, left 0s 0.3s, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, left 0s 0.3s;
    padding: 15px;
    border-radius: 10px;

    &::after {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        content: "";
    }
}

.popup-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    position: relative;
    text-align: left;
    background: #fff;
    border-radius: 10px;
    max-width: 600px;

    & .popup-align {
        padding: 50px 60px 45px 60px;
        overflow: hidden;
        text-align: center;
        font-size: 18px;
        line-height: 1.5em;
    }

    & .popup-title {
        margin-bottom: 5px;
    }

    & b {
        color: $sec-color;
    }

    & .popup-form {
        text-align: left;

        & .input {
            font-weight: 400;
            margin-bottom: 15px;
        }
    }

    & .popup-form:not(:first-child) {
        margin-top: 30px;
    }

    & .popup-form:not(:last-child) {
        margin-bottom: 20px;
    }
}

.input {
    width: 100%;
    font-size: 16px;
    height: 56px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: $sec-color;
    line-height: 56px;
    padding: 0 20px 0 23px;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    text-overflow: ellipsis;
}

.btn-block {
    @include btn($main-bg-color, $default-bg-color, 16px 22px, 20px);
    display: block;
    width: 100%;
    &:disabled{
        cursor: default;
        opacity: 0.6;
    }
}

.error-message {
    color: red;
    text-align: center;
    line-height: 30px;
}

.text a {
    font-size: inherit;
    line-height: inherit;
    position: relative;
    font-weight: 700;
    color: $main-bg-color;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.35s ease-out;
}

.links {
    display: flex;
    justify-content: center;

    & a {
        color: $sec-color;
        font-size: 16px;
        transition: 0.35s;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: auto;
            right: 0;
            height: 2px;
            width: 0;
            background: $main-bg-color;
            transition: all 0.35s ease-out;
        }

        &:hover {
            color: $main-bg-color;

            &:before {
                width: 100%;
                right: auto;
                left: 0;
            }
        }
    }
}

.btn-close {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        display: block;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            bottom: 0;
            border-radius: 5px;
            width: 20px;
            height: 2px;
            transition: .35s;
            background: $main-color;
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(135deg);
        }

        &:hover {

            &::before,
            &::after {
                background: $main-bg-color;
            }
        }
    }
}

//registration

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.form [class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
}

.popup-form .input {
    margin-bottom: 15px;
}

.popup-content.reg{
    overflow: hidden;
}

.checkbox-entry {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    min-width: 30px;
    min-height: 17px;
    margin-bottom: 15px;

    & input {
        display: none;
    }

    & span {
        position: relative;
        font-size: 16px;
        line-height: 18px;
        padding-left: 30px;
        display: block;
        color: $main-color;
        transition: 0.35s;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border-radius: 2px;
            border: 1px solid #dcdcdc;
            transition: 0.35s;
        }

        &::after {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 10px;
            height: 10px;
            border-radius: 2px;
            background-color: $main-bg-color;
            z-index: 1;
            transform: scale(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: 0.35s;
        }
    }

    & input:checked+span:before {
        border-color: $main-bg-color;
    }

    & input:checked+span:after {
        transform: scale(1);
    }
}

.popup-align a {
    color: $sec-color;
    font-size: 16px;
    transition: 0.35s;
}

.links.reg{
    display: block;
}

// fiealds state

.ng-invalid:not(form).ng-touched{
    border-color: red;
    color: red;
}
::placeholder{
    color: inherit;
}

button:disabled{
    opacity: .7;
}