<div class="popup-content" *ngIf="!regStatus">
    <div class="popup-container">
        <div class="popup-align text">
            <div class="popup-title h4"><b>Вхід в кабінет</b></div>
            <form class="form popup-form" id="login-form" [formGroup]="loginForm">
                <input type="email" class="input" name="login" placeholder="*Ваш email" formControlName="email">
                <input type="password" class="input" name="password" placeholder="*Пароль" formControlName="password">

                <button class="btn btn-primary btn-block" type="button" [disabled]="disabledOnLoad"
                    (click)="loginUser()">Увійти в кабінет</button>
                <div class="error-message" *ngIf="authError">Помилка входу. Невідомий користувач.</div>
            </form>
            <div class="links">
                <a class="open-popup" (click)="showReg()">Зареєструватись</a>
            </div>
        </div>
        <button class="btn-close"><span class="cancel" mat-dialog-close></span></button>
    </div>
</div>
<div class="popup-content reg" *ngIf="regStatus">
    <div class="popup-container">
        <div class="popup-align text">
            <div class="popup-title h4"><b>Зареєструватись</b></div>
            <form class="form popup-form" id="registration-form" [formGroup]="registerForm">
                <div class="row">
                    <div class="col-sm-6">
                        <input class="input" type="text" name="first_name" placeholder="Ваше ім'я"
                            formControlName="name">
                    </div>
                    <div class="col-sm-6">
                        <input class="input" type="text" name="last_name" placeholder="Ваше прізвище"
                            formControlName="surname">
                    </div>
                </div>
                <input class="input inputmask" name="phone" type="text" placeholder="Ваш телефон" inputmode="numeric"
                    formControlName="tel">
                <input type="email" class="input" name="email" placeholder="Ваш email" formControlName="email">

                <div class="row">
                    <div class="col-sm-6">
                        <input class="input" name="password" type="password" placeholder="Пароль"
                            formControlName="password">
                    </div>
                    <div class="col-sm-6">
                        <input class="input" name="password2" type="password" placeholder="Повторіть пароль"
                            formControlName="passwordConfirmation">
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="button" [disabled]="disabledOnLoad"
                (click)="registerUser()">Зареєструватись</button>
                <div class="error-message" *ngIf="authError">Помилка реєстрації. Перевірте правильність даних.</div>
            </form>
            <div class="links reg">Вже зареєстровані? <a class="open-popup" (click)="showReg()">Увійти</a></div>
        </div>
        <button class="btn-close close-popup"><span class="cancel" mat-dialog-close></span></button>
    </div>
</div>