<form class="form" id="user-edit-form">
    <div class="form-group">
        <div class="form-title title">
            <h5>Зміна паролю</h5>
        </div>
        <input class="input" name="current" type="password"  placeholder="*Ваш поточний пароль">
        <input type="password" name="new" class="input" placeholder="*Новий пароль">
        <input type="password" name="newagain" class="input" placeholder="*Повторіть пароль">
    </div>
    <div class="cabinet_address-buttons">
        <button class="add-btn" type="button">Скасувати</button>
        <button class="save-btn" type="button" (click)="openSavePopup()">Зберегти зміни</button>
    </div>
</form>
<app-save-popup [show]="saveModal" (hide)="openSavePopup()"></app-save-popup>