@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.form {
    margin-top: 0;
    max-width: 640px;
    display: block;
}

.form-group {
    margin-bottom: 30px;

    & .form-title {
        display: flex;
        margin-bottom: 20px;
        color: $sec-color;
        font-weight: bold;
    }

    & h5 {
        line-height: 28px;
        vertical-align: middle;
        display: inline-block;
    }

    & .input {
        font-size: 16px;
        height: 56px;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        color: $sec-color;
        line-height: 56px;
        padding: 0 20px 0 23px;
        -webkit-transition: 0.35s;
        transition: 0.35s;
        text-overflow: ellipsis;
        margin-bottom: 20px;
        width: 100%;
    }
}

.cabinet_address-buttons {
    display: flex;
    justify-content: space-between;

    & .save-btn {
        @include btn($main-bg-color, $default-bg-color, 16px 22px, 20px);
        max-width: 257px;
        width: 100%;
    }

    & .add-btn {
        @include btn($default-bg-color, $main-bg-color, 16px 22px, 20px);
        max-width: 257px;
        width: 100%;
        border-color: $main-bg-color;

        &:hover {
            border-color: $main-bg-color;
        }
    }
}