<div class="header-m"></div>
<div class="center-info" *ngIf="!homeLocation">
    <h2 class="title">Продукти</h2>
</div>
<div class="container">
    <div class="categories-menu">
        <ul class="categories-list">
            <li class="categories-list-item active"><a href="#" class="category_ajax">Всі</a>
            </li>
            <li class="categories-list-item "><a href="#" class="category_ajax">Філадельфія</a></li>
            <li class="categories-list-item "><a href="#" class="category_ajax">Каліфорнія</a></li>
            <li class="categories-list-item "><a href="#" class="category_ajax">Запечені</a></li>
            <li class="categories-list-item "><a href="#" class="category_ajax">Фірмові</a></li>
            <li class="categories-list-item "><a href="#" class="category_ajax">Преміум</a></li>
            <li class="categories-list-item "><a href="#" class="category_ajax">Макі</a></li>
        </ul>
    </div>
    <div class="row product-row">
        <div class="col" *ngFor="let product of products">
            <div class="product js-product border">
                <div class="product_image-wrap">
                    <a class="product_image" [routerLink]="['/product', product.id]">
                        <img class="img img-default imgLoaded"
                            [src]="product.imagePath" [alt]="product.name">
                        <!-- <ul class="product_labels">
                            <li class="product_label" style="background-color: #59d600">New</li>
                        </ul> -->
                    </a>
                </div>

                <div class="product_title-wrap">
                    <div class="product_title title h5 m-auto">
                        <a [routerLink]="['/product', product.id]">{{product.name}}</a>
                    </div>
                </div>

                <div class="product_desc">
                    <p>{{product.ingredients}}</p>
                    <div class="product_size"><span class="size">{{product.weight}}</span> г</div>
                </div>

                <div class="product_controls">
                    <div class="product_price-wrap">
                        <div class="product_price" itemprop="price"><b class="price">{{product.price}}</b> грн</div>
                        <div class="product_price-old hidden"><b class="price-old">267</b> грн</div>
                    </div>
                    <div class="thumb-input-number">
                        <button type="button" class="decrement" (click)="setAmount(false, product)">-</button>
                        <input [value]="product.count" readonly="" class="product-qty" tabindex="-1" max="999" name="count">
                        <button type="button" class="increment" (click)="setAmount(true, product)">+</button>
                    </div>
                    <button class="btn btn-small btn-primary order-btn add-to-cart-btn" (click)="addOrder(product)">Замовити</button>
                </div>
            </div>
        </div>
    </div>
</div>