$font-size--normal: 16px;
$font-size--huge: 42px;
$main-ff: 'RotondaC', sans-serif;
$main-color: #5A5A5A;
$sec-color: #252525;

$theme-color: #007aff;
$main-bg-color: #b5d8f7;
$default-bg-color: #fff;
$tp-bg-color: transparent;

$default-btn-p: 16px 22px;
$phone-btn-p: 10px 15px 11px;

$line-in-em: 1em;
$default-line-h: 20px;