@import '../../shared/styles/variables';

.container {
    width: 100%;
    max-width: 1750px;
    padding-left: 15px;
    padding-right: 15px;
}

.breadcrumbs {
    margin-top: 25px;
    font-size: 12px;
    line-height: 13px;
    margin-left: 4%;
    margin-bottom: 0;

    & li {
        position: relative;
        display: inline-block;
        text-transform: capitalize;

        &:after {
            content: "";
            position: relative;
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $main-color;
            margin: 0 10px 2px;
            border-color: $main-color;
        }

        &:last-child::after {
            display: none;
        }

        &.active {
            text-decoration: none;
        }

        & a:hover {
            color: $sec-color;
            text-decoration: none;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.mini-banner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
    width: 10000px;
    height: 180px;
    z-index: 2;
    text-align: center;
    border-radius: 10px;
    background-color: #b5d8f7;
}

.center-info {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;

    & .text-cut-2 {
        overflow: visible;
    }

    & .title {
        position: relative;
        display: inline-block;
        padding-top: 10px;
        text-overflow: ellipsis;
        color: $sec-color;
        font-weight: 700;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 10px;
            width: 100%;
            height: 5px;
            background: $sec-color;
        }
    }
}

.simple-page {
    position: relative;

    & > * {
        margin-bottom: 25px;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    ul li {
        position: relative;
        font-size: 18px;
        line-height: 1.47em;
        padding-left: 24px;

        &::before {
            width: 11px;
            height: 11px;
            position: absolute;
            left: 0;
            top: 9px;
            border-radius: 100%;
            background: $main-bg-color;
            content: "";
        }

        &::after {
            width: 9px;
            height: 9px;
            position: absolute;
            left: 1px;
            top: 10px;
            border-radius: 100%;
            border: 2px solid $default-bg-color;
            background: transparent;
            content: "";
        }
    }
}
